<h2>Block Details</h2>
<mat-card>
  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-lg-2 card-label">Block Height</div>
    <div class="col-lg-10">{{ (testEmitter$ | async).Id }}</div>
  </div>

  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-lg-2 card-label">Epoch</div>
    <div class="col-lg-10">{{ (testEmitter$ | async).Id }}</div>
  </div>

  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-lg-2 card-label">Timestamp</div>
    <div class="col-lg-10">{{ (testEmitter$ | async).Age }}</div>
  </div>

  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-lg-2 card-label">Transactions</div>
    <div class="col-lg-10">{{ (testEmitter$ | async).Txns }}</div>
  </div>

  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-lg-2 card-label">Shard</div>
    <div class="col-lg-10">{{ (testEmitter$ | async).Shard }}</div>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-lg-2 card-label">Size</div>
    <div class="col-lg-10">{{ (testEmitter$ | async).Size }}</div>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-lg-2 card-label">Proposer</div>
    <div class="col-lg-10">{{ (testEmitter$ | async).Size }}</div>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-lg-2 card-label">Consensus Group</div>
    <div class="col-lg-10">{{ (testEmitter$ | async).Size }}</div>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-lg-2 card-label">Block Hash</div>
    <div class="col-lg-10">{{ (testEmitter$ | async).BlockHash }}</div>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-lg-2 card-label">Miniblocks</div>
    <div class="col-lg-10">n/a</div>
  </div>
</mat-card>
