<div class="row">
  <h4>Blocks</h4>
</div>
<mat-card>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Block">
      <th mat-header-cell *matHeaderCellDef>Block</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/blocks', element.BlockHash]">{{ element.Id }} </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="Age">
      <th mat-header-cell *matHeaderCellDef>Age</th>
      <td mat-cell *matCellDef="let element">{{ element.Age }}</td>
    </ng-container>

    <ng-container matColumnDef="Txns">
      <th mat-header-cell *matHeaderCellDef>Txns</th>
      <td mat-cell *matCellDef="let element">{{ element.Txns }}</td>
    </ng-container>

    <ng-container matColumnDef="Shard">
      <th mat-header-cell *matHeaderCellDef>Shard</th>
      <td mat-cell *matCellDef="let element">{{ element.Shard }}</td>
    </ng-container>

    <ng-container matColumnDef="BlockHash">
      <th mat-header-cell *matHeaderCellDef>Block Hash</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/blocks', element.BlockHash]">{{
          truncateLongString(element.BlockHash)
        }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="Size">
      <th mat-header-cell *matHeaderCellDef>Size</th>
      <td mat-cell *matCellDef="let element">{{ element.Size }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 20, 50]"
    showFirstLastButtons
  ></mat-paginator>
</mat-card>
