<h2>Transactions</h2>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
     <ng-container matColumnDef="Hash">
        <th mat-header-cell *matHeaderCellDef> Txn Hash </th>
        <td mat-cell *matCellDef="let element"> {{element.Hash}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let element"> {{element.Timestamp}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Shard">
        <th mat-header-cell *matHeaderCellDef> Shard </th>
        <td mat-cell *matCellDef="let element"> {{element.Shard}} </td>
      </ng-container>

      <ng-container matColumnDef="From">
        <th mat-header-cell *matHeaderCellDef> From </th>
        <td mat-cell *matCellDef="let element"> {{element.Sender}} </td>
      </ng-container>

      <ng-container matColumnDef="To">
        <th mat-header-cell *matHeaderCellDef> To </th>
        <td mat-cell *matCellDef="let element"> {{element.Receiver}} </td>
      </ng-container>

      <ng-container matColumnDef="Value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let element"> {{element.Value}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>