.app-content {
  margin-left: 20%;
  margin-right: 20%;
  color: #353535 !important;
}

@media only screen and (max-width: 640px) {
  .app-content {
    margin-left: 1%;
    margin-right: 1%;
  }
  .card-label {
    text-align: left;
  }
}

@media only screen and (max-width: 1024px) {
  .app-content {
    margin-left: 3%;
    margin-right: 3%;
  }
  .card-label {
    text-align: left;
  }
}

@media only screen and (max-width: 1280px) {
  .app-content {
    margin-left: 5%;
    margin-right: 5%;
  } 
  .card-label {
    text-align: right;
  }
}

.row {
  padding: 10px;
}
.inline-icon {
  vertical-align: middle;
}

.card-label {
  opacity: 0.7;
  text-align: right;
  font-size: 14px;
}

.card-value {
  opacity: 0.8;
  font-size: 14px;
}

body {
  color: #353535 !important;
  background-color: #fafafa;
}

.mat-cell,
.mat-footer-cell {
  color: #5a6169;
}

.material-icons.color_white {
  color: #fafafa;
  opacity: 0.7;
  align-self: center;
}

.full-width {
  width: 100%;
}

a {
  text-decoration: none;
  color: #1b46c2c9;
}
