<h2>Transaction Details</h2>
<mat-card>
  <mat-list>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="row">
          <div class="col-lg-2">Hash</div>
          <div class="col-lg-10"><a href="/miniblocks/e8a35b49bea2647f86798416f68fab3436815ec2dd73d48f803acf5c210631fb">{{ (testEmitter$ | async).Hash }}</a></div>
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <label>Satus {{ (testEmitter$ | async).Status }}</label>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <label>Timestamp {{ (testEmitter$ | async).Timestamp }}</label>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <label>Miniblock</label>
      <label>{{ (testEmitter$ | async).Hash }}</label>
    </mat-list-item>      
    <mat-divider></mat-divider>
    <mat-list-item>
      <label>From {{ (testEmitter$ | async).Sender }}</label>
    </mat-list-item>
      <mat-divider></mat-divider>
    <mat-list-item>
      <label>To {{ (testEmitter$ | async).Receiver }}</label>
    </mat-list-item>
      <mat-divider></mat-divider>
    <mat-list-item>
      <label>Value {{ (testEmitter$ | async).Value }}</label>
    </mat-list-item>
      <mat-divider></mat-divider>
    <mat-list-item>
      <label>Transaction Fee {{ (testEmitter$ | async).Fee }}</label>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <label>Gas Limit {{ (testEmitter$ | async).GasLimit }}</label>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <label>Gas Used {{ (testEmitter$ | async).GasUsed }}</label>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <label>Gas Price {{ (testEmitter$ | async).GasPrice }}</label>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <label>Nonce {{ (testEmitter$ | async).Nonce }}</label>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <label>Input Data {{ (testEmitter$ | async).Data }}</label>
    </mat-list-item>
  </mat-list>
</mat-card>
