.example-spacer {
  flex: 1 1 auto;
}
.toolbar-item {
  font-size: 16px;
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  flex-direction: row;
  align-items: center;
}
.app-toolbar {
  background: transparent;
  color: #212529;
  margin-left: 20%;
  margin-right: 20%;
  width: auto;
}

@media only screen and (max-width: 640px) {
  .app-toolbar {
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media only screen and (max-width: 1024px) {
  .app-toolbar {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media only screen and (max-width: 1280px) {
  .app-toolbar {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.inline-icon {
  vertical-align: middle;
}

.round-input {
  border-radius: 20px;
  text-align: center;
  width: fit-content;
  border-width: thin;
}
.nav-list {
  display: flex;
  flex-direction: row;
}

.mat-list-base .mat-list-item {
  color: #b8b8b8 !important;
}

.mat-cell,
.mat-footer-cell {
  color: #5a6169;
}
